.filterBar {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;

}

.filterGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #8e8e93;
}

.filterGroup select,
.filterGroup input {
  margin-top: 5px;
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  background-color: var(--inputs);
  font-size: 16px;
  max-width: 200px;
  color: #111;
  appearance: none;
}

.mileageInputs {
  display: flex;
  width: 320px;
  height: 68px;
  background-color: var(--inputs);
  border-radius: 14px;
  overflow: hidden;
  border: none;
}

.mileageInputs input {
  flex: 1;
  width: 160px;
  padding: 0 16px;
  border: none;
  background: none;
  font-size: 16px;
  color: #111;
}

/* 
.divider {} */

/* .mileageInputs input:first-child {
  border-right: 1px solid #ccc;
} */

.mileageInputs input:focus {
  outline: none;
}

.searchButton {
  padding: 12px 51px;
  border: none;
  border-radius: 12px;
  background-color: var(--button);
  color: var(--white);
  font-size: 16px;
  height: 44px;
}

.searchButton:hover {
  background-color: #265edb;
}