@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/manrope-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/manrope-latin-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/manrope-latin-600-normal.woff') format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/manrope-latin-700-normal.woff') format('woff');
}