.section {
  padding: 84px 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contentWrap {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.leftSideContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 640px;
}

.imageWrap {
  width: 640px;
  height: 512px;
  border-radius: 19px;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 19px;
}

.title {
  font-size: 28px;
}

/* .specs {
  list-style: none;
  padding: 0;
  margin-top: 20px;
} */

.details {
  font-size: 16px;
}

.icon {
  width: 16px;
  height: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 640px;
}

form input,
form button {
  padding: 10px;
  font-size: 16px;
}