.section {
  padding: 84px 0;
}

.contentWrap {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.leftSideContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 640px;
}

.imageWrap {
  width: 640px;
  height: 512px;
  border-radius: 19px;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 19px;
}

.rightSideContent {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);
  margin: 20px 0 8px;
}

.publicId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  margin-left: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin: 16px 0 32px;
}

.icon,
.iconLocation {
  width: 16px;
  height: 16px;
}

.iconLocation {
  vertical-align: middle;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: auto;
}

.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
}